<form name="loginDataForm" style="margin-left: 400px;" novalidate>
    <header>
        <h3 data-i18n="{{form.title}}"></h3>
    </header>
    <table style="width:50%">
        <tr>
            <td>
                <input style="background: white"  ng-model="loginData.email" id="email"
                    type="text" readonly required>
            </td>
        </tr>
        <tr>
            <td>
                <input data-i18n-attr="{placeholder: 'pfl.loginDataForm_newEmail'}" style="background: white"  ng-model="loginData.newEmail" id="newEmail"
                    type="text"  required>
            </td>
        </tr>
 
        <tr>
            <td>
                <input data-i18n-attr="{placeholder: 'pfl.loginDataForm_oldPassword'}" ng-model="loginData.oldPassword" id="old-password" type="password" required>
            </td>
        </tr>
        <tr>
        <td>&nbsp;</td>
        </tr>

        <tr>
            <td>
                <input data-i18n-attr="{placeholder: 'pfl.loginDataForm_newPassword'}" ng-model="loginData.newPassword" id="new-password" type="password" required>
            </td>
        </tr>
        <tr>
            <td>
                <input data-i18n-attr="{placeholder: 'pfl.loginDataForm_confNewPassword'}" ng-model="loginData.ConfNewPassword" id="conf-new-password" type="password" required>
            </td>
        </tr>
        
        <tr>
            <td style="text-align: center" colspan="2">
                <save-data-button data-i18n-attr="{nome: form.buttonText}" acao="writeUserData()" ng-disabled="loginDataForm_$invalid">
                </save-data-button>
            </td>
        </tr>
        <tr>
            <td>
                <p ng-if="succesWriteUserData" class="alert alert-danger" data-i18n='{{ error }}'></p>
            </td>
        </tr>
    </table>
</form>