<!-- Start Content -->
<div id="content">
    <div class="container">
      <div class="row">
        <!-- Sidebar View Content -->
        <menu-bar ng-if="user.loggedIn"></menu-bar>
        <!-- Sidebar View Content -->
        <div class="col-sm-9 page-content">
          <div class="inner-box">
            <div id="accordion" class="panel-group">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"> <a href="#collapseB1" data-toggle="collapse" data-i18n="pfl.userDataForm_formTitle"></a> </h4>
                </div>
                <div class="panel-collapse collapse in" id="collapseB1">
                  <div class="panel-body">
                    <form role="form">
                      <div class="form-group">
                        <label class="control-label" data-i18n="pfl.userDataForm_firstName"></label>
                        <input ng-model="userData.firstName" class="form-control" id="firstName" type="text">
                      </div>
                      <div class="form-group">
                        <label class="control-label" data-i18n="pfl.userDataForm_lastName"></label>
                        <input class="form-control" ng-model="userData.lastName" id="lastName" type="text">
                      </div>
                        <div class="form-group">
                                <select ng-model="userData.gender" class="form-control" id="gender">
                                    <option value="" data-i18n="pfl.userDataForm_gender"></option>
                                    <option data-i18n-attr="{value: 'pfl.userDataForm_male'}" data-i18n="pfl.userDataForm_male"></option>
                                    <option data-i18n-attr="{value: 'pfl.userDataForm_female'}" data-i18n="pfl.userDataForm_female"></option>
                                </select>
                        </div>
                      <div class="form-group">
                        <label class="control-label" data-i18n="pfl.userDataForm_birthday"></label>
                        <input class="form-control" ng-model="userData.birthday" id="birthday" type="text">
                      </div>
                      <div class="form-group">
                            <div ng-if="!loadingCountries" data-i18n="pfl.userDataForm_loadingCountries"></div>
                            <select ng-show="loadingCountries" class="form-control" ng-model="userData.country" ng-options="child as child.countryName for child in countries | orderBy:'countryName'"
                                ng-change="updateStates(userData.country)" id="country">
                                <option value="" data-i18n="pfl.userDataForm_country" selected></option>
                            </select>
                      </div>
                      <div class="form-group">
                            <div ng-if="!loadingStates" data-i18n="pfl.userDataForm_loadingStates"></div>
                            <select ng-show="loadingStates" class="form-control" ng-model="userData.state" ng-options="child as child.name for child in states | orderBy:'name'"
                                ng-change="updateCities(userData.state)" id="state">
                                <option value="" data-i18n="pfl.userDataForm_state"></option>
                            </select>
                      </div>
                      <div class="form-group">
                            <div ng-if="!loadingCities" data-i18n="pfl.userDataForm_loadingCities"></div>
                            <select ng-show="loadingCities" class="form-control" ng-model="userData.city" ng-options="child as child.name for child in cities | orderBy:'name'"
                                id="city">
                                <option value="" data-i18n="pfl.userDataForm_city"></option>
                            </select>
                      </div>
                      <div class="form-group">
                        <save-data-button data-i18n-attr="{nome: 'pfl.userDataForm_buttonText'}" acao="writeUserData()" ng-disabled="userDataForm_$invalid">
                        </save-data-button>
                        <p ng-if="succesWriteUserData">
                            <i class="fa fa-times"></i> <span ng-if="succesWriteUserData" class="alert alert-danger" data-i18n='{{ error }}'> </span>
                        </p>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"> <a aria-expanded="false" class="collapsed " href="#collapseB2" data-toggle="collapse"> Settings </a> </h4>
                </div>
                <div style="height: 0px;" aria-expanded="false" class="panel-collapse collapse" id="collapseB2">
                  <div class="panel-body">
                    <label class="control-label" data-i18n="pfl.userDataForm_formTitle"></label>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"> <a aria-expanded="false" class="collapsed" href="#collapseB3" data-toggle="collapse"> Preferences </a> </h4>
                </div>
                <div style="height: 0px;" aria-expanded="false" class="panel-collapse collapse" id="collapseB3">
                  <div class="panel-body">
                    <label class="control-label" data-i18n="pfl.userDataForm_formTitle"></label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>  
    </div>      
  </div>
  <!-- End Content -->