<!-- Off Canvas Navigation -->
<div class="navmenu navmenu-default navmenu-fixed-left offcanvas"> 
<!--- Off Canvas Side Menu -->
<div class="close" data-toggle="offcanvas" data-target=".navmenu">
  <i class="fa fa-close"></i>
</div>
<h3 class="title-menu">Minha conta</h3>
<ul class="nav navmenu-nav"> <!--- Menu -->
  <li><a href="/profile" data-i18n="shared.menu_profile"></a></li>
  <li><a href="/profile/loginData" data-i18n="shared.menu_loginData"></a></li>
  <li><a href="/profile/personalData" data-i18n="shared.menu_personalData"></a></li>
  <li><a href="/timeline" data-i18n="shared.menu_timeline"></a></li>
  <li><a href="#" ng-click="signOut()" data-i18n="shared.menu_signOut"></a></li>
</ul><!--- End Menu -->
</div> <!--- End Off Canvas Side Menu -->